.btn-item__archive {
  color: rgb(219, 219, 219);
  border-bottom: 1px solid black;
}
.btn-item__archive:hover {
  background-color: rgb(219, 219, 219);
  color: rgb(51, 51, 51);
  border-bottom: 1px solid black;
}