.navigation {
    width: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
}

.linked-nav {
    text-decoration: none;
}

.linked-nav {
    color: #FFF;
}